@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 240, 240, 245;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Arka planı karanlık modda hazırla */
html {
  background-color: #ffffff;
  scroll-behavior: smooth;
}

/* Dark sınıfı <html> etiketine eklenir */
html.dark {
  background-color: #000000;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Tema geçişleri için theme-text özelliği */
[data-theme-text="true"] {
  transition: color 300ms ease;
}

html.dark [data-theme-text="true"] {
  color: rgba(255, 255, 255, 0.03);
}

@layer base {
  :root {
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
